.colorBarra {
  background: linear-gradient(to right, #ff0000, #ffa500);
}
.colorElementoBarra {
  color: white;
  font-weight: 154;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.parallel-section {
  display: flex;
  align-items: center;
}

.left-content,
.right-content {
  flex: 1;
  padding: 40px;
}

.left-content {
  background-color: #f1f1f1;
}

.right-content {
  background-color: #ebebeb;
}
